@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      box-sizing: border-box;
    }
    
    html,
    body,
    #__next {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

body {
    @apply bg-darkbg
}

h1 {
    @apply font-fira font-bold tracking-tighter
}

p, h2, h3 {
    @apply font-fira text-sm
}

canvas {
    @apply fixed w-full h-full m-0 p-0
}